@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(229, 214, 214);
}


.trending{
    background: red;
    color: white;
    display: inline-block;
    margin-top: 10px;
}

/*            banner               */

.firstgrid img{
    width: 1500px;
    height: 600px;
}
.firstgrid .headline{
    margin-top: -100px;
    color: white;
    padding-left: 10px;
}



/*          second grid        */
.secondgridleft{
    margin-top: 50px;
       
}
.secondgridleft .headline{
    margin-top: -120px;
    color: white;
    padding-left: 10px;
}

.secondgridright{
    margin-top: 50px;
   
}


.secondgridright img{
width: 200px;
height: 115px;
}



/*              third grid                */
.thirdgridleft img{
    width: 730px;
    height: 400px;
    padding-top: 10px;
}
.thirdgridleft p{
    margin-top: -70px;
    color: white;
    padding-left: 10px;
}

.thirdgridright img{
    width: 725px;
    height: 400px;
    padding-top: 10px;
}
.thirdgridright p{
    margin-top: -70px;
    color: white;
    padding-left: 10px;
}


/*              fourth grid            */
.fourthgrid img{
    width: 1490px; 
}
.fourthgrid h3{
  margin-top: -240px;
  color: white;
}


/*                footer                   */
.footer{
    margin-top: 180px;
}


/* responsiveness */
